.task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    margin-top: 16px;
    padding: 8px;

    font-size: 20px;
    line-height: 24px;
    color: #A0A0A0;
    background-color: #2E3439;
}