@import '../../../../utils/scss/constants.scss';

.basket {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../../../../public/basket-delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .2s;

    &:hover {
        cursor: pointer;
        filter: $hover-color-delete-basket;
    }
    &:active {
        transform: scale(.9);
    }
}