@import "../../../../../utils/scss/mixins.scss";

.boards__board {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   

    .board__title {
        text-align: center;
        word-break: break-all;
    }

    .board__description {
        word-break: break-all;
    }

    .wrapper__button_delete {
        align-self: flex-end;
    }

}