.error {
  color: var(--error-color-text);
  font-size: 14px;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
}
@media only screen and (max-width: 400px) {
  .error {
    line-height: 0.9;
  }
}
