@import '../../../../utils/scss/constants.scss';

.wrapper_about_team {
    padding: 0 1rem;
    color: $font-color-header;

    .title {
        text-align: center;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;

        .member {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;


            .photo {
                max-width: 15rem;
                border-radius: 2rem;
                transition: 1s;

                &:hover {
                    transform: rotateZ(10deg);
                    cursor: pointer;
                }

            }

            .member-description {}

            .wrapper_social_links {
                display: flex;
                justify-content: center;
                gap: 1rem;

                .link_github,
                .link_linkedin {
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    transition: .4s;

                    &:active {
                        transform: scale(.9);
                    }

                }

                .link_github {
                    background-image: url(https://abram31.github.io/rslang/assets/11f7dab1e18bc047be01.svg);
                    filter: invert(.5);

                    &:hover {
                        filter: $hover-color-links;
                    }
                }

                .link_linkedin {
                    background-image: url(https://abram31.github.io/rslang/assets/8a54e5d33f1c32382b7e.svg);
                &:hover {
                        filter: $hover-color-links-linkedin;
                    }
                }
            }
        }
    }
}